# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  build:    
    docker:
      - image: cirrusci/flutter:1.20.2 

    steps:
      - checkout

      - run:
          name: Run Flutter doctor
          command: flutter doctor

      - run:
          name: Create Test Results directory
          command: mkdir -p test-results

      - run:
          name: Install lcov for HTML code coverage report
          command: |
            sudo apt-get update -qq -y
            sudo apt-get install lcov -y

      - run:
          name: Run unit tests with junit formatter
          command: |
            export PATH="$PATH":"$HOME/.pub-cache/bin" 
            export PATH="$PATH":"/usr/local/opt/flutter/bin/cache/dart-sdk/bin"
            flutter pub global activate junitreport
            flutter test --coverage --machine | tojunit --output test-results/unit.xml

      - store_artifacts:
          path: coverage/
       
      - store_test_results:
          path: test-results
        
      - run:
          name: Build the Android version
          command: flutter build apk --no-shrink