# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  build:    
    docker:
      - image: cirrusci/flutter:1.20.2 

    steps:
      - checkout

      - run:
          name: Run Flutter doctor
          command: flutter doctor

      - run:
          name: Run the application tests
          command: flutter test
          
      - store_test_results:
            path: test-results
        
      - run:
          name: Build the Android version
          command: flutter build apk --no-shrink

